@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

html::-webkit-scrollbar-track {
    background-color: black;
}

html::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

html::-webkit-scrollbar-corner {
    background-color: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    scroll-behavior: smooth;
}

.hidden {
    opacity: 0;
    transition: all 0.1s;
}

.show {
    opacity: 1;
    animation: showElement 1s forwards;
    transition: all 0.3s;
}

@keyframes showElement {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flip-horizontal {
    transform: scaleX(-1);
}

body {
    background: #dddddd;
    /* fallback for old browsers */
    overflow-x: hidden;
}

.header {
    z-index: 10;
    top: 0;
    position: sticky;
    padding: 10px;
    background: #dddddd;
    /* fallback for old browsers */
    /*
    background-color: #dddddd0a;
    backdrop-filter: blur(5px);
    */
    gap: 50px;
}

.header .header-logo {
    font-size: 23px;
}

.header nav ul {
    flex-wrap: wrap;
    gap: 20px;
}

.header nav ul a {
    text-decoration: none;
    color: #131313;
}

.header nav ul a li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.header nav ul a li:hover {
    padding: 7px;
    border-bottom: #131313 solid 3px;
}

.header nav ul a .link-pesquisa {
    padding: 8px;
    background-color: #141414;
    color: white;
    border-radius: 5px;
}

.header nav .menu-icon {
    display: none;
}

.apresentation {
    margin-top: 30px;
    position: relative;
    background-image: url('../assets/backgrounds/layered-waves-haikei\ \(2\).svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 45vw;
}

.apresentation .apresentation-pessoa-1 {
    position: absolute;
    bottom: 16.43%;
    right: 31%;
    width: 28vw;
    border-bottom-right-radius: 30%;
}

@keyframes scroll-alphanox-text {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0.5vw);
    }

    100% {
        transform: translateY(0);
    }
}

.apresentation .alphanox-text {
    position: absolute;
    bottom: -40%;
    left: 2.5%;
    width: 95vw;
    animation: scroll-alphanox-text 5s ease-in-out infinite;
}

.apresentation .dje-text {
    position: absolute;
    bottom: -15%;
    left: 4.5%;
    width: 58vw;
    animation: scroll-alphanox-text 5s ease-in-out infinite;
}

.apresentation .article-text {
    display: none;
    position: absolute;
    bottom: 56%;
    left: 21.7%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8vw;
    animation: scroll-alphanox-text 5s ease-in-out infinite;
}

.section-1 {
    align-items: start;
    justify-content: start;
    padding: 50px;
    background-color: #131313;
    color: #dddddd;
    height: min-content;
    padding-bottom: 80px;
    gap: 30px;
}

.section-1 h2 {
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #dddddd;
}

.section-1 p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    width: 80vw;
}

.section-2 {
    align-items: end;
    height: min-content;
    background-color: #dddddd;
    padding: 50px;
    padding-top: 130px;
    padding-bottom: 130px;
    gap: 30px;
}

.section-2 h2 {
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #131313;
}

.section-2 p {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.section-3 {
    padding: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: start;
    position: relative;
    height: 700px;
    background: #131313;
    gap: 30px;
    overflow-x: hidden;
}

.section-3 .pessoa-2 {
    filter: saturate(150%);
    bottom: 0;
    right: -5%;
    position: absolute;
    width: 400px;
}

.section-3 h2 {
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #dddddd;
}

.section-3 p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #dddddd;
    width: 60vw;
}

.section-4 {
    height: min-content;
    padding: 40px;
    color: #dddddd;
    gap: 30px;
}

.container-video {
    background-color: #131313;
    padding: 20px;
    border-radius: 10px;
    gap: 30px;
    flex-wrap: wrap;
}

.container-video iframe {
    width: 100%;
    border-radius: 5px;
    flex: 1;
}

.container-video .video-desc {
    flex: 1;
    font-size: 25px;
    gap: 20px;
    align-items: flex-start;
}

.footer {
    background-color: #131313;
    height: 500px;
    color: #dddddd;
    font-size: 30px;
}

.footer a {
    background-color: #dddddd;
    color: #131313;
    text-decoration: none;
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px;
}

.footer a:hover {
    background-color: black;
    color: #dddddd;
}

@media screen and (max-width: 732px) {
    .apresentation {
        height: 56vh;
        overflow: hidden;
    }

    .apresentation .apresentation-pessoa-1 {
        width: 75vw;
        right: -30px;
        bottom: 15.5%;
    }

    @keyframes pass-text-alphanox {
        0% {
            transform: translateX(120%);
        }

        50% {
            transform: translateX(-20%);
        }

        75% {
            transform: translateX(-20%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes pass-text-dje {
        0% {
            transform: translateX(120%);
        }

        50% {
            transform: translateX(-31.8%);
        }

        75% {
            transform: translateX(-31.8%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    .apresentation .alphanox-text {
        animation: pass-text-alphanox infinite 7s ease-in-out;
    }

    .apresentation .dje-text {
        animation: pass-text-dje infinite 7s ease-in-out;
    }

    .apresentation .alphanox-text {
        bottom: -10%;
        left: 2.5%;
        width: 190vw;
    }

    .apresentation .dje-text {
        bottom: 8%;
        left: 4.5%;
        width: 116vw;
    }

    .section-1,
    .section-2,
    .section-3 {
        height: min-content;
        overflow: hidden;
    }

    .section-1,
    .section-2 {
        padding: 20px;
    }

    .section-1 {
        padding-bottom: 80px;
    }

    .section-2 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section-2 h2,
    .section-2 p {
        text-align: right;
    }

    .section-3 .pessoa-2 {
        display: none;
    }

    .section-3 p {
        width: 100%;
    }

    .header {
        justify-content: space-between;
    }

    .header nav ul li {
        display: none;
    }

    .header nav .menu-icon {
        display: flex;
        color: #131313;
        font-size: 40px;
    }

    .section-4 {
        padding: 5px;
    }

    .container-video {
        padding: 20px;
        height: min-content;
    }

    .julia {
        flex-direction: column-reverse;
    }
    
    .footer a {
        width: 60%;
    }
}

@media screen and (max-width: 732px) and (min-width: 450px) {
    .apresentation {
        height: 80vh;
    }

    .apresentation .apresentation-pessoa-1 {
        width: 70vw;
    }

    .section-3 .pessoa-2 {
        right: -23%;
    }
}

@media screen and (max-width: 532px) and (min-width: 450px) {
    .apresentation {
        height: 61vh;
    }
}
